<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/board/boardup" method="post">
        <input type="number" name="_id" value="<%=data.id%>" readonly><br>
        <input type="text" name="_writername" value="<%=data.writer_user_id%>" readonly><br>
        <input type="text" name="_title" value="<%=data.title%>" readonly><br>
        <input type="text" name="_content" value="<%=data.contents%>"><br>
        <input type="text" name="_date" value="<%=data.created_at%>" readonly><br>
        <input type="text" name="_walletname" value="<%=data.ensname%>" readonly><br>
        <input type="submit" value="수정하기">
    </form>
</body>
</html>