<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/board/boardup" method="post">
        <input type="number" name="_bo_no" value="<%=data.bo_no%>" readonly><br>
        <input type="text" name="_writername" value="<%=data.writername%>" readonly><br>
        <input type="text" name="_title" value="<%=data.title%>" readonly><br>
        <input type="text" name="_content" value="<%=data.content%>"><br>
        <input type="text" name="_date" value="<%=data.date%>" readonly><br>
        <input type="text" name="_walletname" value="<%=data.walletname%>" readonly><br>
        <input type="submit" value="수정하기">
    </form>
</body>
</html>