<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button onclick="location.href='/market/nftsell?owner='+'0x1234d514B72ca5f0ab7292f0ae675829Cd07c961'">등록</button>
    <%for(var i=0; i < data.length; i++){%>
        <div style="border:1px solid black" id='nft<%=i%>'>
        <div><%=data[i].owner%></div>
        <div><%=data[i].nftname%></div>
        <div><%=data[i].price%></div>
        <div><%=data[i].nftaccount%></div>
        <div><%=data[i].state%></div>
    </div><br>
        <%}%>
</body>
</html>